body {
    /* -ms-overflow-style: scrollbar; */
    /* makes everything draggable */
    -webkit-app-region:drag;
    font-family: "DejaVu Sans Mono";
    font-weight: bold; 
    font-size: 1.5em;
    /* height: 1000px; */
    /* width: 1500px; */
    padding: 0;
    margin:0; 
    /* use this to make areas undraggable -webkit-app-region: no-drag; */
}
/* center ganvas */
canvas {
    padding: 0;
    /* margin: auto; */
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
::-webkit-scrollbar { 
    display: none; 
}
.row {
    background-color: black;
}
#sidebar{
    /* display: inline-block; */
    /* margin:-20;  */
    padding: 0;
    padding-left: 0;
    background-color: black;
}
#mainContainer{
    /* display: inline-block; */
    /* border:2px solid #99ff99; */
    height:100%;
    padding: 0;
    margin-right: -20;
    background-color: #262626;
    /* background-color: black; */
}
#information{
    /* padding: 0; */
    /* margin:0;  */
    /* padding: 0; */
    word-wrap: break-word;
    border-left:2px solid #262626;
    border-bottom:2px solid #262626;
    background-color: black;
    height:33%;
}
#choices{
    /* padding: 0; */
    /* margin:0;  */
    /* padding: 0; */
    border-left:2px solid #262626;
    border-bottom:2px solid #262626;
    background-color: black;
    height:33%;
}
#messages{
    /* padding: 0; */
    /* margin:0;  */
    /* padding: 0; */
    border-left:2px solid #262626;
    background-color: black;
    height:34%;
}
